:root {
  /* theme colors */
  --main-page-bg: #e8f0ef;

  /* text colors */
  --text-title: #111827; /* headings, page titles */
  --text-main: #111827; /* body text */
  --text-secondary: #4b5563; /* subtitles, section labels */
  --text-tertiary: #6b7280; /* captions, helper text */

  /* navbar */
  --navbar-bg: #ffffff;
  --nav-item-text-color: #4c5c59;
  --nav-item-bg-active: #e8f0ef;
  --nav-item-text-active-color: #051513;

  /* Topbar */
  --topbar-bg: #ffffff;

  /* Buttons */

  /* Primary */
  --btn-primary-bg: #014745;
  --btn-primary-active-bg: #014745;
  --btn-primary-text: #ffffff;

  /* Secondary Button */
  --btn-secondary-bg: #cacfd8;
  --btn-secondary-active-bg: #cacfd8;
  --btn-secondary-text: #525866;
  --btn-secondary-active-text: var(--text-main);
  --btn-secondary-border: #cacfd8;

  /* Outlined Button */
  --btn-outlined-bg: #ffffff;
  --btn-outlined-text: var(--text-main);
  --btn-outlined-active-bg: #ffffff;
  --btn-outlined-active-text: var(--text-main);
  --btn-outlined-border: #cacfd8;

  /* Warning / destructive */
  --btn-warning-bg: #a61c3c;
  --btn-warning-active-bg: #8f1834;
  --btn-warning-text: #ffffff;

  /* Disabled */
  --btn-disabled-bg: #f3f5f8;
  --btn-disabled-text: #cacfd8;

  /* Active feedback */
  --btn-active-ring: #42213d;
  --btn-inner-shadow-color: #ffffff;
  --btn-outer-shadow-color: #99a0ae;

  /* divider */
  --divider-color: #e1ecea;

  /* card */
  --card-bg: #ffffff;
  --card-border: #e1ecea;
}
